  <% config[:real_products].each do |p| %>
    <button
        data-item-id="<%=p.id%>"
        data-item-price="<%=p.price%>"
        data-item-url="<%=current_page.url %>"
    </button>
  <% end %>
